doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title  Candidates 
  body
    h1  List of candidates
    ul
      each applied in candidate 
        li Job Name - #{applied.JobName}
        li Full Name - #{applied.FullName}
        li Age - #{applied.Age}
        li GPA - #{applied.GPA}
        li Date - #{applied.Date}
        hr